.button {
    background-color: #EA2127;
    border: 2px solid #000614;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.3s all ease-in-out;
}
.button:hover {
    background-color: #FFFFFF;
    color: #EA2127;
}
@media (min-width: 768px) {
    .button {
        min-width: 120px;
        padding: 0 25px;
    }
}
/* .content {
    width: 80%;
    min-width: 1000px;
    margin: auto;
}
#wrapper {
    margin: 0px;
    padding: 0px;
} */