#wrapper {
    background-color: #000614;
    color: #FFFFFF;
    min-width: 1000px;
}
body {
    margin: 0;
}
.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.content {
    width: 80%;
    min-width: 1000px;
    margin: auto;
}
h1 {
    color: #FFD60A;
}
h2 {
    color: #FFD60A;
}