section {
    background-color: #000000;
    justify-content: space-between;
}

#footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    min-width: 1000px;
    max-width: 1280px;
    background-color: #000000;
}
#copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 80%;
    margin: auto;
    min-width: 1000px;
}
footer {
    background-color: #000000;
    color: #FFFFFF;
    min-width: 1000px;
}
#footer a {
    font-family: Helvetica, Tahoma, Trebuchet MS;
    color: #FFFFFF;
    text-decoration: None;
}
#footer a:hover {
    color: #EA2127;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
#email-address {
    text-decoration: #FFFFFF;
}
.title {
    font-size: 20px
}
img {
    vertical-align: bottom;
}