.pre-content {
    width: 100%;
    min-width: 1000px;
    margin: auto;
}
.bolt-quicksearch {
    margin-top: 20px;
    background-color: #000000;
    color: #FFFFFF;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.bolt-quicksearch img {
    object-fit: fill;
    height: 40px;
    width: 30px;
}
.quicksearch-selection-bar-with-button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

}
.quicksearch-selection-bar {
    width: 950px;
    height: 80px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.quicksearch-selection-bar form {
    display: flex;
    justify-content: space-evenly;
}
.quicksearch-selection-bar select {
    height: 45px;
    width: 185px;
    margin-left: 5px;
    margin-right: 5px;
}

.quicksearch-selection-bar select:hover {
    cursor: pointer;
}

.quicksearch-selection-bar select:disabled {
    border: thin solid #460b0c;
    cursor: default;
}
select {
    /* styling */
    background-color: black;
    color: white;
    text-align: center;
    border: thin solid #EA2127;
    border-radius: 5px;
    display: inline-block;
    font: inherit;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.quicksearch-selection-bar button {
    background-color: #EA2127;
    border: 2px solid #000614;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.3s all ease-in-out;
    margin-left: 15px;
}

.quicksearch-selection-bar button:hover {
    background-color: #FFFFFF;
    color: #EA2127;
}

.check-booking-button {
    background-color: #EA2127;
    border: 2px solid #000614;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.3s all ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;

}

.check-booking-button:hover {
    background-color: #FFFFFF;
    color: #EA2127;
}

.check-booking-button img {
    margin-right: 10px;
}
/*select.round {*/
/*    background-image:*/
/*            linear-gradient(45deg, transparent 50%, gray 50%),*/
/*            linear-gradient(135deg, gray 50%, transparent 50%),*/
/*            radial-gradient(#ddd 70%, transparent 72%);*/
/*    background-position:*/
/*            calc(100% - 20px) calc(1em + 2px),*/
/*            calc(100% - 15px) calc(1em + 2px),*/
/*            calc(100% - .5em) .5em;*/
/*    background-size:*/
/*            5px 5px,*/
/*            5px 5px,*/
/*            1.5em 1.5em;*/
/*    background-repeat: no-repeat;*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*select.round:focus {*/
/*    background-image:*/
/*            linear-gradient(45deg, white 50%, transparent 50%),*/
/*            linear-gradient(135deg, transparent 50%, white 50%),*/
/*            radial-gradient(gray 70%, transparent 72%);*/
/*    background-position:*/
/*            calc(100% - 15px) 1em,*/
/*            calc(100% - 20px) 1em,*/
/*            calc(100% - .5em) .5em;*/
/*    background-size:*/
/*            5px 5px,*/
/*            5px 5px,*/
/*            1.5em 1.5em;*/
/*    background-repeat: no-repeat;*/
/*    border-color: green;*/
/*    outline: 0;*/
/*}*/

* {box-sizing: border-box}
.slideshow-container {
    /*max-width: 1000px;*/
    width: 100%;
    position: relative;
    margin: auto;
}
.container {
    display: none;
}
.main {
    display: block;
}
.previous-photo, .next-photo {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 25px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}
.next-photo {
    right: 0;
    border-radius: 4px 0 0 4px;
}
.previous-photo:hover, .next-photo:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.circle-dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.enable, .circle-dots:hover {
    background-color: #717161;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}
@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}
.tab {
    overflow: hidden;
}
.tab a {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.tab a:hover {
    color: #EA2127;
}
.tabcontent {
    display: none;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, 320px);
}
.tablinks-current {
    font-size: 30px;
    color: #EA2127;
}
hr {
    border: 1px solid #EA2127;
}
.movie-posters {
    height:500px;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}
.movie-posters img {
    height: 400px;
    width: 300px;
    display: block;
}
.movie-posters h4 {
    margin: 5px;
}
.movie-posters-container {
    position: relative;
}
.movie-posters-container:hover .overlay {
    height: 100%;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.85);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}
#pointer {
    width: 180px;
    height: 60px;
    position: relative;
    background: #EA2127;
    display: flex;
    align-items: center;
}
#pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
#pointer:before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid #EA2127;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
#pointer:hover {
    background: #FFFFFF;
}
#pointer a:hover {
    color: #EA2127;
}
.movie-running-time {
    color: #8c8c8c;
}
.view-more-movies {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    align-items: center;
}
.arrow-in-circle {
    background: #EA2127;
    text-decoration:none; /* Remove that ugly underlining */
    border-radius: 50%;
    display: block;
    height: 80px;
    width: 80px;
}
.arrow-in-circle::after {
    content:"\2192";   /* The code for the arrow : see the reference */
    display: block;
    color: white;
    font-weight: bold;
    font-size: 60px; /* Adjust for your needs */
    text-align: center;
}