.content {
    margin-top: 20px;
}
.tab {
    overflow: hidden;
}
.tab a {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.tab a:hover {
    color: #EA2127;
}
.tabcontent {
    display: none;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, 340px);
}
.tablinks-current {
    font-size: 30px;
    color: #EA2127;
}
hr {
    border: 1px solid #EA2127;
}
.movie-posters {
    height:500px;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}
.movie-posters img {
    height: 400px;
    width: 300px;
    display: block;
}
.movie-posters h4 {
    margin: 5px;
}
.movie-posters-container {
    position: relative;
}
.movie-posters-container:hover .overlay {
    height: 100%;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.85);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}
#pointer {
    width: 180px;
    height: 60px;
    position: relative;
    background: red;
    display: flex;
    align-items: center;
}
#pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
#pointer:before {
    content: "";
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid red;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.movie-running-time {
    color: #8c8c8c;
}
.view-more-movies {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    align-items: center;
}
.arrow-in-circle {
    background: red;
    text-decoration:none; /* Remove that ugly underlining */
    border-radius: 50%;
    display: block;
    height: 80px;
    width: 80px;
}
.arrow-in-circle::after {
    content:"\2192";   /* The code for the arrow : see the reference */
    display: block;
    color: white;
    font-weight: bold;
    font-size: 60px; /* Adjust for your needs */
    text-align: center;
}