.idea/sqldialects.xml
.idea/workspace.xml
img/._.DS_Store
img/experience/thumbnail/._.DS_Store
img/._.DS_Store~HEAD
img/._.DS_Store~origin
img/experience/thumbnail/._.DS_Store~HEAD
img/experience/thumbnail/._.DS_Store~origin