<!DOCTYPE html>
<html lang="en">
<body>
    <section class="header">
        <div id="menu-bar">
            <a href="/f32ee/Screens-Come-True/index.php"><img src="/f32ee/Screens-Come-True/img/header_title.png" alt="Logo"></a>
            <nav>
                <div id="navigation-bar">
                    <ul>
                        <li><a id="movies" href="/f32ee/Screens-Come-True/pages/movies.php"><strong>Movies</strong></a></li>
                        <li><a id="cinemas" href="#"><strong>Our Cinemas</strong></a></li>
                        <li><a id="promotions" href="#"><strong>Promotions</strong></a></li>
                    </ul>
                </div>
            </nav>
            <div id="login-register-section">
                <a class="login" href="/f32ee/Screens-Come-True/pages/loginmain.php#login" id="login">Log In</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="login" href="/f32ee/Screens-Come-True/pages/loginmain.php#register" id="register">Register</a>
            </div>            
        </div>
    </section>
    <script>
        document.getElementById('movies').removeAttribute("class");
        document.getElementById('cinemas').removeAttribute("class");
        document.getElementById('promotions').removeAttribute("class");
        const url = window.location.pathname;
        var element
        if (url.indexOf('movies') > -1) {
            element = document.getElementById('movies');
        } else if (url.indexOf('cinemas') > -1) {
            element = document.getElementById('cinemas');
        }else if (url.indexOf('promotions') > -1) {
            element = document.getElementById('promotions');
        }
        element.setAttribute("class","active");
    </script>
</body>
</html>